bitsandbytes
dadaptation
embedding_reader
fire
fsspec
library
lion_pytorch
multidict
prodigyopt
pydantic
PyYAML
safetensors
scipy
seaborn
torchmetrics
wordcloud
prettytable
wandb
# xformers
clean-fid
lightning
nudenet
git+https://github.com/openai/CLIP.git

